{% include "store/base.html" %}

{% load static %}

{% block content %}

<body>
    <br> <br> <br>
    <div class="container bg-white shadow-md p-7 form-layout">
        <div class="text-center"> 
            <br>
            <h4> <strong> Payment Success. <strong> <h4>
            <hr>
            <p> Your order is processed successfully. </p>
        </div>    
    </div>
    <br>
    <div class="container text-center">
        <a  class="btn btn-primary navbar-btn text-white " type="button"  
        href="{% url 'dashboard' %}"> Back </a>
    </div>

</body>

{% endblock %}