{% include "store/base.html" %}

{% load static %}

{% block content %}

    <body>
        <br>
        <div class="container bg-white shadow-md p-5" style="width:500px; border-radius:20px;">
            <form id="form" method="POST" action="{% url 'complete_order' %}">
                {% csrf_token %}
                <div>
                    <h3> Complete your order </h3>
                    <p> Please enter in the relevant information below. </p>
                    <hr>
                    <br>
                    <div class="form-field">                    
                        <input class="form-control validate" name="name" type="text" 
                        placeholder="Full name*" autocomplete="off" value="{{shipping_address.full_name}}" required>
                    </div>
                    <br>
                    <div class="form-field">
                        <input class="form-control validate" name="email" type="email"
                         placeholder="Email address*" autocomplete="off" value="{{shipping_address.email}}" required>
                    </div>                    
                    <br>                    
                    <div class="form-field">
                        <input class="form-control validate" name="address1" type="text" 
                        placeholder="Address 1*" autocomplete="off" value="{{shipping_address.address1}}" required>
                    </div>
                    <br>
                    <div class="form-field">
                        <input class="form-control validate" name="address2" type="text" 
                        placeholder="Address 2*" autocomplete="off" value="{{shipping_address.address2}}" required>
                    </div>
                    <br>
                    <div class="form-field">
                        <input class="form-control validate" name="city" type="text" 
                        placeholder="City*" autocomplete="off" value="{{shipping_address.city}}" required>
                    </div>
                    <br>
                    <div class="form-field">
                        <input class="form-control" name="state" type="text" 
                        placeholder="State (Optional)" autocomplete="off" value="{{shipping_address.state}}">
                    </div>
                    <br>
                    <div class="form-field">
                        <input class="form-control" name="country" type="text" 
                        placeholder="Country(Optional)" autocomplete="off" value="{{shipping_address.country}}">
                    </div>            
                </div>
                <br>
                &nbsp; &nbsp;  &nbsp;    &nbsp; &nbsp;  &nbsp;
               <button  type="submit" 
               class="btn btn-primary navbar-btn text-white "> &nbsp; Complete order </button>   &nbsp; &nbsp;  &nbsp;    
               &nbsp; &nbsp;  &nbsp;   
               <a class="btn btn-primary navbar-btn-lg text-white text-end" type="button"  
                    href="{% url 'cart_summary' %}"> Go Back </a>         
                <br>
            </form>
        </div>      
        <br>
    </body>
    
{% endblock %}