{% extends "store/base.html" %}

{% load static %}

{% block content %}
<main>  
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="pb-3 h5"> {{ category.name | capfirst }} </div>
      <hr>
      <br>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for product in products %}
        <div class="col">
          <div class="card shadow-sm">
          <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
            <div class="card-body">
              <p class="card-text">
                <a class="text-info text-decoration-none" href="{{ product.get_absolute_url }}"> {{ product.title | capfirst }} </a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <h5> $ {{ product.price }} </h5>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} 
      </div>
    </div>
  </div>
  <div class="container">
    <br> 
<div class="row">
    <div class="col-md-6 offset-md-4">
        <div class="pagination">
            <span class="step-links">
                {% if products.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    &nbsp;
                    <a href="?page={{ products.previous_page_number }}">previous</a>
                {% endif %}
                &nbsp;
                <span class="current">
                    Page {{ products.number }} of {{ products.paginator.num_pages }}.
                </span>
                &nbsp;
                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">next</a>&nbsp;
                    <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
<br>
</div>
</main>
{% endblock %}