{% include "store/base.html" %}

{% load static %}

{% block content %}
<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <div class="text-center">
            <h3> My orders </h3>
            <hr>
        </div>
        {% for order in orders %}
            <strong> Order ID: {{ order.order.id }} </strong> <br>            
            Order Product : {{ order.product }} <br>
            Quantity : {{ order.quantity }} <br>
            Price : ${{ order.price }} <br>
            <hr>
        {% endfor %}
    </div>
</body>
{% endblock %}